
= render :partial => "photos"
= render :partial => "users"
= render :partial => "cars"

- content_for :leftbar do
  = render :partial => 'leftbar'


- content_for :rightbar do
  = render :partial => 'rightbar'
