=content_for :head do
  = javascript_include_tag "jquery.js"
  = javascript_include_tag "gallery.js"
  = javascript_include_tag "/fancybox/jquery.fancybox-1.3.4.js"
  = stylesheet_link_tag "/fancybox/jquery.fancybox-1.3.4.css"
  = stylesheet_link_tag "pagination"
  = stylesheet_link_tag "gallery"

= t("all_photos")
.bar  
  .left.column 
    .flickr_pagination
      =will_paginate @photos, :container => false
  .right.column
    =link_to (image_tag "plus.png"), new_cabinet_photo_path(params[:car_id])

  -#gallery
    =gallery(@photos)
  .gallery
    -@photos.each do |photo|
      .picture 
        .photo
          =link_to (image_tag photo.photo.url(:medium)), photo.photo.url(:large) , :class => "gallery_fancy"            
        .deliting
          =link_to (image_tag "close.png"),  :id =>photo.id, :car_id => params[:car_id],:controller => "cabinet/photos" ,  :method =>:delete 

- content_for :leftbar do
  = render :partial => 'leftbar'

- content_for :rightbar do
  = render :partial => 'rightbar'

