=content_for :head do
  = javascript_include_tag "jquery.js"
  = javascript_include_tag "gallery.js"
  = javascript_include_tag "/fancybox/jquery.fancybox-1.3.4.js"
  = stylesheet_link_tag "/fancybox/jquery.fancybox-1.3.4.css"
  = stylesheet_link_tag "pagination"
  = stylesheet_link_tag "gallery"
%body
  #head_photo
    %p= t("all_photos")
    %p= link_to t("upload_photos"), new_car_photo_path(params[:car_id])
  -#=gallery(@photos)
  #gallery
    -(@photos.length).times do |i|
      #photo
        =link_to (image_tag @photos[i].photo.url(:medium)), @photos[i].photo.url(:large) , :class => "gallery"
        =link_to (image_tag"images/rails.png"), cars_path, :class => "deliting"
              
  #pages.flickr_pagination
    =will_paginate @photos, :container => false

  - content_for :leftbar do
    = render :partial => 'leftbar'

  - content_for :rightbar do
    = render :partial => 'rightbar'

