=content_for :head do
  = javascript_include_tag "jquery.js"
  = javascript_include_tag "gallery.js"
  = javascript_include_tag "/fancybox/jquery.fancybox-1.3.4.js"
  = stylesheet_link_tag "/fancybox/jquery.fancybox-1.3.4.css"
  = stylesheet_link_tag "pagination"
  = stylesheet_link_tag "gallery"
%body
  %div
    %p= t("all_photos")
    %p= link_to t("upload_photos"), new_car_photo_path(params[:car_id])
  -#=gallery(@photos)
  %div
    -(@photos.length).times do |i|
      %div
        %a.gallery{:href => @photos[i].photo.url(:large)}
          =image_tag @photos[i].photo.url(:medium)
              
  %div
    #pages.flickr_pagination
      =will_paginate @photos, :container => false

  - content_for :leftbar do
    = render :partial => 'leftbar'

  - content_for :rightbar do
    = render :partial => 'rightbar'

