%p= t("all_photos")
%p= link_to t("upload_photos"), new_car_photo_path(@car_id)

%table
  %td
    - @photos.each do |item|
      %tr
        = image_tag item.photo.url

- content_for :leftbar do
  = render :partial => 'leftbar'

- content_for :rightbar do
  = render :partial => 'rightbar'

