%head
  = stylesheet_link_tag "pagination"
%body
  %p= t("all_photos")
  %p= link_to t("upload_photos"), new_car_photo_path(params[:car_id])
  -#=gallery(@photos)
  %table
    - (0..@photos.length.div(3)).each do |i|
      %tr
        -(0.. [@photos.length - i*3,3].min-1).each do |j|
          %td
            =image_tag @photos[i*3+j].photo.url(:medium)

  #pages.flickr_pagination
    =will_paginate @photos, :container => false

  - content_for :leftbar do
    = render :partial => 'leftbar'

  - content_for :rightbar do
    = render :partial => 'rightbar'

