%h1 
  =t("listing_car")

%table
  %tr
    %th Title
    %th Wiki
    %th
    %th
    %th

  - @cars.each do |car|
    %tr
      %td= car.title
      %td= car.wiki
      -#%td= link_to 'Show', car
      %td= link_to t("edit"), edit_car_path(car)
      %td= link_to t("delete"), car, :confirm => 'Are you sure?', :method => :delete

%br

= link_to t("add_car"), new_car_path
