%p#notice= notice
%table
  %td
    = car_photo (@car) 
  %td
    %p
      %b Title:
      = @car.title
    %p
      %b Wiki:
      = @car.wiki


= link_to 'Edit', edit_car_path(@car)
\|
= link_to 'Back', cars_path
